
body{
    color:black;
    background-color:purple;
    outline: auto;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
  
    border:solid gold;
    border: radius 10px;

}
.img{
    background-color: aliceblue;
}

    
    
   

.content{
    padding: 10px;
}
button{
    margin-top: 10px;
    border-radius: 10px;
    border-bottom: 50%;
    color:blue;
    border-color: solid gold;
}